{% extends 'base.html.twig' %}

{% block title %}PostCode Cheacker{% endblock %}

{% block body %}
	<div class="row justify-content-md-center mt-5">
		<a href="{{ path('postcode')}}" class="btn btn-primary">Go to PostCode Checker</a>			
	</div>
{% endblock %}
